li {
  list-style: none;
}

a {
  text-decoration: none;
}

.login_user  {
  color: #ffffff;
  margin-top: -90px;
  margin-left: 90%;
  font-style:arial black;
}

.dropdwn{
    max-width: 1200px;
    display: flex;
}

ul{
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #fff;
}
li{
    max-width: calc(1200px/5);
    position: relative;
    padding: 5px;
    display: block;
    cursor: pointer;
}

.dropdwn li{
    width: 1200px;
    margin: 1px;
    background: #7ba5ff;
    display: inline;
}

.drop_menu{
    width: 100%;
    display: none;
    position: absolute;
    margin-left: -5px;
    margin-top: 5px;
    padding: 0;
    background: rgb(75, 100, 209);
}

.drop_menu li{
    width: 100%;
}

.drop_menu li a{
    padding: 5px 0;
    margin: -5px 5px -5px -5px;
    display: block;
    color: #fff;
}

li a:hover{
    background: #b3d7ff;
    color: rgb(65, 65, 65);
}
